.propertyList{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    gap: 20px;
}

.property__list__contianer{
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;   
}

.property__image{
    width: 100%;
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.property__type{
    font-size: 18px;
    font-weight: 600;
    color: rgb(43, 42, 42) ;
    text-transform: capitalize;
}

.property__value{
    color: gray;
}

